body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
  
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

h2 {
    border: 2px solid black;
    border-bottom: 1px solid black;
    overflow-x: clip;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 15px 0px;
}

ul {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: 289px;
    max-width: 289px;
    list-style-position: inside;
}

li {
    width: 289px;
}

#names {
    text-align: center;
    margin-top: 0px;
    font-size: small;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right:0;
}


.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #ebebeb;
}


.form-container input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0px 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-btn {
    padding: 16px 20px;
    width: 100%;
    margin-bottom:10px;
}

.lists-container {
    display: flex;
    border: 1px solid black;
    width: 600px;
    max-width: 600px;
}

.card {
    margin: 15px auto;
    max-width: 600px;
    padding: 0;
}