body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
  
h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

h2 {
    border: 2px solid black;
    border-bottom: 1px solid black;
    overflow-x: clip;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 15px 0px;
}

ul {
    border: 1px solid black;
    margin: 0;
    padding: 0.5rem 0 0.5rem 10px;
    width: 289px;
    max-width: 289px;
    list-style-position: inside;
}

li {
    margin: 0.25rem 0;
    width: 289px;
}

button {
    text-align: center;
    background-color: #4570dd;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: medium;
}

button:hover {
    background-color: #3449c6;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

#create-btn {
    background-color: #12b91d;
}

#create-btn:hover {
    background-color: #0e9c17;
}

.main-btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 0 15px;
    line-height: 1.25rem;
}


.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
}


.form-container {
    max-width: 500px;
    max-height: 800px;
    padding: 10px;
    border: 2px solid black;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 1rem;
    background-color: #ebebeb;
}


.form-container input[type=text]{
    width: 460px;
    padding: 15px 20px;
    margin: 10px 0px 50px 0;
    border: 1px solid #6e6e6e;
    background: #f1f1f1;
    font-size: medium;
    overflow-x: auto;
}

.form-container label {
    font-size: large;
}

.form-btn {
    padding: 16px 20px;
    width: 100%;
    margin-bottom:10px;
}

.lists-container {
    display: flex;
    border: 1px solid black;
    width: 600px;
    max-width: 600px;
}

.card {
    margin: 15px auto;
    max-width: 600px;
    padding: 0;
}

.card-btns {
    display: flex;
    justify-content: space-between;
    width: 600px;
    max-width: 600px;
}

.delete-btn {
    margin-top: 10px;
    background-color: #e21811;
}

.delete-btn:hover {
    background-color: #a40f0a;
}

.edit-btn {
    margin-top: 10px;
    align-self: flex-end;
}